{% extends 'home/homeheader.html' %}


    {% block content %}
  

    <!-- ======= Contact Section ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="  background-image: url(/static/admin/img/px.jpg);">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center" >
          <h2>ABOUT US</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About us</li>
          </ol>
        </div>

      </div>
    </section>
    <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/home/img/slide/f[133].jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <center><h2 style="font-size: 90%"> <span ><marquee> കുടുംബശ്രീ</marquee></span></h2></center>
             <center> <p  style="font-size: 110%" >ABOUT US</p></center>
              
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/home/img/slide/6yugn-mijmy.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <center><h2 style="font-size: 100%">കുടുംബശ്രീ</h2></center>
              <center> <p  style="font-size: 110%" >ABOUT US</p></center>
              
              
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/home/img/slide/fb3[132].jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
             <center> <h2 style="font-size: 100%">കുടുംബശ്രീ</h2></center>
             <center> <p  style="font-size: 110%" >ABOUT US</p></center>
             
              
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
      
     <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>കുടുംബശ്രീ</h2>
            <h3 style="font-size: 90%">കേവല ദാരിദ്ര്യനിർമാർജനത്തിനായി കേരള സർക്കാർ രൂപം കൊടുത്തിട്ടുള്ള നവീന ദാരിദ്ര്യ നിർമാർജന പദ്ധതിയാണ് കുടുംബശ്രീ അഥവാ കേരള സംസ്ഥാന ദാരിദ്ര്യ നിർമാർജന  ദൗത്യം. നബാർഡിന്റെ സഹായത്തോടെയുള്ള സമ്പൂർണ ദാരിദ്ര്യ നിർമാർജന യജ്ഞം എന്ന നിലയിലാണ് കുടുംബശ്രീ പദ്ധതി രൂപീകൃതമായത്. കുടുംബശ്രീ എന്നാൽ കുടുംബത്തിന്റെ ഐശ്വര്യം' എന്നാണ് അർത്ഥം.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p >
             കേരള സംസ്ഥാനത്താകമാനം വ്യാപിച്ചു കിടക്കുന്ന വനിതകളുടെ ഒരു കമ്മ്യൂണിറ്റി ശൃംഖലയാണ് കുടുംബശ്രീ. സ്ത്രീശാക്തീകരണത്തിലൂന്നിയ സാമ്പത്തിക - സാമൂഹ്യ - ശാക്തീകരണത്തിലൂടെയുള്ള ദാരിദ്ര്യ നിർമാർജനമാണ് കുടുംബശ്രീയുടെ ലക്ഷ്യം. സ്വതന്ത്ര വനിതാ കൂട്ടായ്മയായ അയൽക്കൂട്ടത്തിന്റെ ഭരണപരവും സംഘടനാപരവുമായ പ്രവർത്തനത്തിലൂടെ ലഭിക്കുന്ന ശേഷിയും ആത്മവിശാസവും മുഖേന സ്ത്രീകൾ സ്വയം ശാക്തീകരിക്കുന്നു. അയൽക്കൂട്ടം, എ.ഡി.എസ്, സി.ഡി.എസ് എന്നിങ്ങനെയുള്ള ത്രിതല സംഘടനാ സംവിധാനത്തിലൂടെ പ്രവർത്തിക്കുന്ന കുടുംബശ്രീ ലോകത്തിലെ തന്നെ ഏറ്റവും വലിയ വനിതാ കൂട്ടായ്മയാണ്.
            </p>
            <!--<ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul>
          <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% endblock %}