{% extends 'home/homeheader.html' %}


    {% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="breadcrumbs" class="breadcrumbs" style="  background-image: url(/static/admin/img/px.jpg);">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center" >
          <h2>HOME</h2>
          <ol>
            <li><a href="/">Home</a></li>
            
          </ol>
        </div>

      </div>
    </section>
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/home/img/slide/f[133].jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <center><h2 style="font-size: 90%"> <span > കുടുംബശ്രീയിലേക്ക് സ്വാഗതം</span></h2></center>
              <p  style="font-size: 90%" >ദാരിദ്ര്യ നിര്‍മ്മാര്‍ജ്ജനം ലക്ഷ്യമിട്ടുകൊണ്ട് 1998-ല്‍ സംസ്ഥാന തദ്ദേശ സ്വയംഭരണ വകുപ്പ് ആവിഷ്കരിച്ച സംവിധാനമാണ് കുടുംബശ്രീ. സംസ്ഥാന ദാരിദ്ര്യ നിര്‍മ്മാര്‍ജ്ജന മിഷന്‍ ആണ് ഈ പ്രോജക്ട് നടത്തുന്നത്.നബാര്‍ഡിന്റെ സഹായത്തോടെ കേരള സര്‍ക്കാര്‍ ഈ പ്രോജക്ടിന് രൂപം നല്‍കി.</p>
              
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/home/img/slide/6yugn-mijmy.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <center><h2 style="font-size: 100%">കുടുംബശ്രീ</h2></center>
              <p style="font-size: 90%"> 1998 മേയ് 17-ന് മലപ്പുറം ജില്ലയില്‍ വച്ച് ബഹു:മുന്‍ പ്രധാനമന്ത്രി ശ്രീ. അടല്‍ ബിഹാരി വാജ്പേയ് ആണ് ഈ പ്രോജക്ടിന്റെ ഉദ്ഘാടനം നിര്‍വ്വഹിച്ചത്.ഇന്ന് കുടുംബശ്രീയുടെ പ്രവര്‍ത്തനം ശക്തവും വിപുലവുമാകുകയും സ്ത്രീകളുടെ കരുത്തുറ്റ സംഘടനാ സംവിധാനം നിലവില്‍ വരികയും ചെയ്തു. സാമ്പത്തികമായി പിന്നോക്കം നില്‍ക്കുന്ന ലക്ഷക്കണക്കിന് കുടുംബങ്ങള്‍ കുടുംബശ്രീയില്‍ അംഗങ്ങളാണ്.</p>
              
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/home/img/slide/fb3[132].jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
             <center> <h2 style="font-size: 100%">കുടുംബശ്രീ</h2></center>
             <center> <p style="font-size: 90%">15 മുതല്‍ 40 വരെ കുടുംബങ്ങളില്‍ നിന്നും ഓരോ വനിത ഉള്‍പ്പെടുന്ന അയല്‍ക്കൂട്ടങ്ങളെ ഏകോപിപ്പിച്ചുകൊണ്ട് ഏരിയാ ഡവലപ്മെന്റ് സൊസൈറ്റികളും കമ്മ്യൂണിറ്റി ഡവലപ്മെന്റ് സൊസൈറ്റികളും ഉള്‍പ്പെടുന്ന കുടുംബശ്രീ സംഘടനാ സംവിധാനം തദ്ദേശ സ്വയംഭരണ സ്ഥാപനങ്ങളില്‍ രൂപീകരിച്ചിട്ടുണ്ട്. </p></center>
              
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</strong></h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            
            <h2>കുടുംബശ്രീ</h2>
            
            <h3 style="font-size: 90%">കേവല ദാരിദ്ര്യനിർമാർജനത്തിനായി കേരള സർക്കാർ രൂപം കൊടുത്തിട്ടുള്ള നവീന ദാരിദ്ര്യ നിർമാർജന പദ്ധതിയാണ് കുടുംബശ്രീ അഥവാ കേരള സംസ്ഥാന ദാരിദ്ര്യ നിർമാർജന  ദൗത്യം. നബാർഡിന്റെ സഹായത്തോടെയുള്ള സമ്പൂർണ ദാരിദ്ര്യ നിർമാർജന യജ്ഞം എന്ന നിലയിലാണ് കുടുംബശ്രീ പദ്ധതി രൂപീകൃതമായത്. കുടുംബശ്രീ എന്നാൽ കുടുംബത്തിന്റെ ഐശ്വര്യം' എന്നാണ് അർത്ഥം.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p >
             കേരള സംസ്ഥാനത്താകമാനം വ്യാപിച്ചു കിടക്കുന്ന വനിതകളുടെ ഒരു കമ്മ്യൂണിറ്റി ശൃംഖലയാണ് കുടുംബശ്രീ. സ്ത്രീശാക്തീകരണത്തിലൂന്നിയ സാമ്പത്തിക - സാമൂഹ്യ - ശാക്തീകരണത്തിലൂടെയുള്ള ദാരിദ്ര്യ നിർമാർജനമാണ് കുടുംബശ്രീയുടെ ലക്ഷ്യം. സ്വതന്ത്ര വനിതാ കൂട്ടായ്മയായ അയൽക്കൂട്ടത്തിന്റെ ഭരണപരവും സംഘടനാപരവുമായ പ്രവർത്തനത്തിലൂടെ ലഭിക്കുന്ന ശേഷിയും ആത്മവിശാസവും മുഖേന സ്ത്രീകൾ സ്വയം ശാക്തീകരിക്കുന്നു. അയൽക്കൂട്ടം, എ.ഡി.എസ്, സി.ഡി.എസ് എന്നിങ്ങനെയുള്ള ത്രിതല സംഘടനാ സംവിധാനത്തിലൂടെ പ്രവർത്തിക്കുന്ന കുടുംബശ്രീ ലോകത്തിലെ തന്നെ ഏറ്റവും വലിയ വനിതാ കൂട്ടായ്മയാണ്.
            </p>
            <!--<ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul>
          <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Programs</strong></h2>
          
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue" style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="https://kudumbashreebazaar.com/">
                  
                </svg>
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4><a href="https://kudumbashreebazaar.com/">Products</a></h4>

             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange " style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://kudumbashree.org/pages/554">
                  
                </svg>
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="http://kudumbashree.org/pages/554">Markets</a></h4>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink" style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.kudumbashree.org/pages/159">
                  
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="http://www.kudumbashree.org/pages/159">Magazine</a></h4>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow" style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://kudumbashree.org/pages/550">
                  
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="http://kudumbashree.org/pages/550">Enterprises</a></h4>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red" style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.kudumbashree.org/pages/159">
                  
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4><a href="http://www.kudumbashree.org/pages/159">Publications</a></h4>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal" style="width: 70%">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://kudumbashree.org/pages/543">
                  
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="http://kudumbashree.org/pages/543">Internships</a></h4>
         
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Gallery</h2>
        </div>

      

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/static/home/img/images (2).jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/static/home/img/images (1).jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/static/home/img/f[133].jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/static/home/img/6yugn-mijmy.jpg" class="img-fluid" alt="">
            
          </div>
           <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/static/home/img/images.jpg" class="img-fluid" alt="">
            
          </div> <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/static/home/img/kudumbasree.1.jpg" class="img-fluid" alt="">
            
          </div>

         
          

        

          

        </div>
        

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Our Clients Section ======= -->
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 {% endblock %}